html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background: var(--theme-bg);
}

#app {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 98%;
    min-height: 100vh; /* 关键修复：确保最小高度填满屏幕 */
    background: none;
}

.light {
    background: var(--theme-bg);
}

.dark {
    background: var(--theme-bg);
}

