html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
#app{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 100%;
    height: auto;
    background: linear-gradient(
            to right top,
            #f4fbff 10%,
            #eaf7fe 25%,
            #ffffff 50%
    );
}